<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131116124632-9v8pnobk0lkur3thkml3uaj9k5ap3hjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131116124632-9v8pnobk0lkur3thkml3uaj9k5ap3hjv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>131116124632-0t93bf3tshskq8u696oa2e10q5s7pakc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdRRjQOwtPzpxyNZ9JsQDf-BJ12OxBFEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>131116124632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cdShop</string>
	<key>PROJECT_ID</key>
	<string>cd-shop-5d4ec</string>
	<key>STORAGE_BUCKET</key>
	<string>cd-shop-5d4ec.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131116124632:ios:1a8499aaf68a3524f20aad</string>
</dict>
</plist>